[submodule "CPP-Training"]
	path = CPP-Training
	url = https://github.com/rafaelpardor/CPP-Training
[submodule "C-Training"]
	path = C-Training
	url = git@github.com:rafaelpardor/C-Training.git
[submodule "Golang-Training"]
	path = Golang-Training
	url = https://github.com/rafaelpardor/Golang-Training
[submodule "Bash-Training"]
	path = Bash-Training
	url = git@github.com:rafaelpardor/Bash-Training.git
[submodule "Javascript-Training"]
	path = Javascript-Training
	url = git@github.com:rafaelpardor/Javascript-Training.git
